<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.CampusLectureFileMapper">
    
    <!-- 첨부파일 등록 -->
    <insert id="insertCampusLectureFile" parameterType="com.sp.app.model.CampusLectureFile">
      INSERT INTO campusLectureFile 
        (fileId, lectureId, saveFilename, originalFilename)
      VALUES
        (campusLectureFile_seq.NEXTVAL, #{lectureId}, #{saveFilename}, #{originalFilename})
    </insert>

    <!-- 첨부파일 목록 조회 (강의ID 기준) -->
    <select id="listCampusLectureFile" parameterType="long" resultType="com.sp.app.model.CampusLectureFile">
      SELECT fileId, lectureId, saveFilename, originalFilename
      FROM campusLectureFile
      WHERE lectureId = #{lectureId}
      ORDER BY fileId
    </select>

    <!-- 첨부파일 단건 조회 (fileId 기준) -->
    <select id="findByFileId" parameterType="long" resultType="com.sp.app.model.CampusLectureFile">
      SELECT fileId, lectureId, saveFilename, originalFilename
      FROM campusLectureFile
      WHERE fileId = #{fileId}
    </select>

    <!-- 첨부파일 삭제 -->
    <delete id="deleteCampusLectureFile" parameterType="map">
      DELETE FROM campusLectureFile
      WHERE fileId = #{fileId}
        AND lectureId = #{lectureId}
    </delete>

</mapper>